.MyEditableInput{
    .align {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    img {
        cursor: pointer;
    }   
    
    .titleBlock{
        font-size: 17px;

        input {
            border: none;
            font-size: 17px;
        }
    }
}