.AgentFormsList{
    .card{
        cursor: pointer;
    }
    h4 {
        color: #2D3E58;
        font-size: 17px;
        font-weight: 900;
        line-height: 21px;
        letter-spacing: 0.761326px;
    }
}